@font-face {
    font-family: bolden;
    src: url(../fonts/Bold.woff2);
    font-style: bold;
    font-weight: 500;
    
  }

body{
    --button-orange:#ff914d;
    --button-blue:#004aad;
    --button-green:#00bf63;
    --text-white:#23272A ;
    --social-icons:#141414;
    --link-color:#ff914d;
    --bg-light:#f0f0d3;
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-light);
    color: var(--text-white);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dark {
    --text-white: #ffffff;
    --bg-light:#23272A;
    --social-icons:#ffffff;
    --link-color:#266afd;
}

.bt-orange {
    background-color: var(--button-orange);
}

.bt-blue {
    background-color: var(--button-blue);
}

.bt-green {
    background-color: var(--button-green);
}

#wrapper {
    width: 100%;
    max-width: 400px;
}

.profile-container {
    text-align: center;
    margin-bottom: 10px;
}

.profile-image {
    border-radius: 50%;
    width: 120px;
    margin-top: 2%;
    margin-bottom: 0%;
    object-fit: cover;
}

.secondary-image {
    min-width: 180px;
    max-width: 190px;
    margin-top: 3%;
    margin-bottom: 1%;
    object-fit:cover;
}

h1 {
    font-family: bolden;
    font-size: 24px;
    margin: 0px 0;
}

h2 {
    font-size: 18px;
    font-weight:900;
}

h3 {
    font-size: 20px;
    margin-top: 25px;
}

p {
    font-size: 16px;
    opacity: 0.8;
}
a {
    text-decoration: none;
    color:var(--link-color);
}

.btn {
    
    font-family: bolden;
    letter-spacing: 1px;
    text-decoration: none;
    color:#ffffff;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    margin: 0 10px;
    font-size: 30px;
    color: var(--social-icons);
    text-decoration: none;
}

.social-icons a:hover {
    opacity: 0.7;
}

.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #555;
    transition: 0.4s;
    border-radius: 34px;
}

.slider-btn:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.toggle-icons {
    margin: 0 10px;
    font-size: 22px;
    cursor: pointer;
}

#businessView {
    display: none;
}

#oldworkView {
    display: none;
}

.link-container {
    text-align: center; 
}

.button {
    justify-content: center;
    align-items: center;
    display: block;
    color: #ffffff;
    text-decoration: none;
    border-radius: 25px; 
    text-align: center;
}

.switch input:checked + .slider-btn:before {
    transform: translateX(26px);
}

.switch input:checked + .slider-btn {
    background-color: #1d77ff;
}

.switch-label {
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Styles for the navigation menu */

.menu-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

/* Styles for animating bars into arrow */
.menu-toggle.arrow .bar1 {
    transform: rotate(-45deg) translateY(7px);
}

.menu-toggle.arrow .bar2 {
    opacity: 0;
}

.menu-toggle.arrow .bar3 {
    transform: rotate(45deg) translateY(-7px);
}


footer {
    margin-top: 5%;
    text-decoration: none;
    text-align: center;
    position: relative;
}

/* Desktop Styles */
@media (min-width: 769px) {
    .button {
        display: flex;
        margin: 20px 30px;
      height: 60px ;
      align-items: center;
    }
}

/* Mobile Styles */
@media (max-width: 768px) {
    .button {
        display: flex;
        margin: 6px 30px;
      height: 60px ;
      align-items: center;
    }
}
